body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url('../assets/background.jpg');
  font-family: 'Montserrat', sans-serif;
}
.input {
  cursor: default;
  outline: none;
  height: 3em;
  width: 3em;
  background-color: rgba(240, 128, 128, 0.7);
  border: none;
  font-size: 1.3em;
  border-radius: 50%;
  color: white;
  transition: all 0.2s ease-in;
}
.input:focus {
  width: 16em;
  padding-left: 1em;
  padding-right: 2.5em;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  color: white;
}
.fa {
  color: white;
  position: relative;
  left: -1.48em;
  pointer-events: none;
}

::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}
:-ms-input-placeholder {
   color: white;
}
