body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background: black;
  background-image: url('../assets/background.jpg');
  font-family: 'PT Sans', sans-serif;
}
